{{ partial "portfolio_head" . }}
<body>
    <div class="columns works-container">
        <div class="column work">
            <div class="work-title">
                experiment_with_number_1
            </div>
            <figure class="work-image">
                <a href="images/screenshot_1.jpeg">
                    <img src="images/screenshot_1.jpeg"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/number_experiment_1.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                experiment_with_number_2
            </div>
            <figure class="work-image">
                <a href="images/screenshot_2.jpeg">
                    <img src="images/screenshot_2.jpeg"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/number_experiment_2.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                experiment_with_number_3
            </div>
            <figure class="work-image">
                <a href="images/screenshot_3.jpeg">
                    <img src="images/screenshot_3.jpeg"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/number_experiment_2.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column is-one-quarter-fullhd work">
            <div class="work-title">
                challenge_a
            </div>
            <figure class="work-image">
                <a href="images/challenge_a.jpeg">
                    <img src="images/challenge_a.jpeg"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/experiment_3.pde">
                    See the code
                </a>
            </div>
        </div>
    </div>

    <div class="columns works-container">

        <div class="column work">
            <div class="work-title">
                challenge_b_dynamic
            </div>
            <canvas 
                 data-processing-sources="codes/experiment_2.pde"
                 class="work-image">
            </canvas>
            <div class="work-source">
                <a href="codes/experiment_2.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                challenge_b_static
            </div>
            <figure class="work-image">
                <a href="images/challenge_b.jpeg">
                    <img src="images/challenge_b.jpeg"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/experiment_2.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                rocks_example
            </div>
            <figure class="work-image">
                <a href="images/rocks.png">
                    <img src="images/rocks.png"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/rock_experiment_1.pde">
                    See the code
                </a>
            </div>
        </div>
    </div>

    <div class="columns works-container">
        <div class="column work">
            <div class="work-title">
                people_variation
            </div>
            <canvas 
                 data-processing-sources="codes/rocks_variation_1.pde"
                 class="work-image">
            </canvas>
            <div class="work-source">
                <a href="codes/rocks_variation_1.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                people_variation_1
            </div>
            <figure class="work-image">
                <a href="images/people_1.png">
                    <img src="images/people_1.png"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/rocks_variation_1.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                people_variation_2
            </div>
            <figure class="work-image">
                <a href="images/people_2.png">
                    <img src="images/people_2.png"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/rocks_variation_1.pde">
                    See the code
                </a>
            </div>
        </div>
    </div>

    <div class="columns works-container">
        <div class="column work">
            <div class="work-title">
                score_system
            </div>
            <canvas 
                 data-processing-sources="codes/scoreSystem.pde"
                 class="work-image">
            </canvas>
            <div class="work-source">
                <a href="codes/scoreSystem.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                space_war
            </div>
            <figure class="work-image">
                <a href="space-war">
                    <img src="images/space_war.png"></img>
                </a>
                <a href="space-war">
                    <figcaption class="work-image-hover-mask">
                        <p>Play Game</p>
                    </figcaption>
                </a>
            </figure>
            <div class="work-source">
                <a href="codes/space_war.pde">
                    See the code
                </a>
            </div>
        </div>
    </div>
</body>
</html>
