{{ partial "head" . }}
    <body>
        <div id="main">
            <header>
                <div id="header-content">
                    <h1>Art 22 Explorations</h1>
                    <h2>Seita Uchimura / Spring 2019</h2>
                </div>
            </header>

            <div id="profile-content">
                <div id="social" class="content-wrapper">
                    <div class="content">
                        <h2>+ SOCIAL</h2>
                        <a href="https://seita.tokyo/">My Blog</a>
                        <br>
                        <a href="https://www.facebook.com/seitauchimura">Facebook</a>
                    </div>
                </div>
                <div id="bio" class="content-wrapper">
                    <div class="content">
                        <h2>+ BIO</h2>
                        <p>I am an university student learning Linguistics and Software Engineering.</p>
                    </div>
                </div>
            </div>

            <figure id="profile-image">
                <img src="images/profile.jpg"></img>
            </figure>
            <br>
        </div>

        <div id="works-container">
            <div class="work-container">
                <div class="work-title">
                    experiment_with_number_1
                </div>
                <figure class="work-image">
                    <a href="images/screenshot_1.jpeg">
                        <img src="images/screenshot_1.jpeg"></img>
                    </a>
                </figure>
                <div class="work-source">
                    <a href="codes/number_experiment_1.pde">
                        See the code
                    </a>
                </div>
            </div>

            <div class="work-container">
                <div class="work-title">
                    experiment_with_number_2
                </div>
                <figure class="work-image">
                    <a href="images/screenshot_2.jpeg">
                        <img src="images/screenshot_2.jpeg"></img>
                    </a>
                </figure>
                <div class="work-source">
                    <a href="codes/number_experiment_2.pde">
                        See the code
                    </a>
                </div>
            </div>

            <div class="work-container">
                <div class="work-title">
                    experiment_with_number_3
                </div>
                <figure class="work-image">
                    <a href="images/screenshot_3.jpeg">
                        <img src="images/screenshot_3.jpeg"></img>
                    </a>
                </figure>
                <div class="work-source">
                    <a href="codes/number_experiment_2.pde">
                        See the code
                    </a>
                </div>
            </div>
        </div>

        <div id="works-container">
            <div class="work-container">
                <div class="work-title">
                    challenge_a
                </div>
                <figure class="work-image">
                    <a href="images/challenge_a.jpeg">
                        <img src="images/challenge_a.jpeg"></img>
                    </a>
                </figure>
                <div class="work-source">
                    <a href="codes/experiment_3.pde">
                        See the code
                    </a>
                </div>
            </div>

            <div class="work-container">
                <div class="work-title">
                    challenge_b_dynamic
                </div>
                <canvas 
                     data-processing-sources="codes/experiment_2.pde"
                     class="work-image">
                </canvas>
                <div class="work-source">
                    <a href="codes/experiment_2.pde">
                        See the code
                    </a>
                </div>
            </div>

            <div class="work-container">
                <div class="work-title">
                    challenge_b_static
                </div>
                <figure class="work-image">
                    <a href="images/challenge_b.jpeg">
                        <img src="images/challenge_b.jpeg"></img>
                    </a>
                </figure>
                <div class="work-source">
                    <a href="codes/experiment_2.pde">
                        See the code
                    </a>
                </div>
            </div>

            </div>

        <div id="works-container">
            <div class="work-container">
                <div class="work-title">
                    rocks_example
                </div>
                <figure class="work-image">
                    <a href="images/rocks.png">
                        <img src="images/rocks.png"></img>
                    </a>
                </figure>
                <div class="work-source">
                    <a href="codes/rock_experiment_1.pde">
                        See the code
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="work-title">
                    people_variation
                </div>
                <canvas 
                     data-processing-sources="codes/rocks_variation_1.pde"
                     class="work-image">
                </canvas>
                <div class="work-source">
                    <a href="codes/rocks_variation_1.pde">
                        See the code
                    </a>
                </div>
            </div>
            <div class="work-container">
                <div class="work-title">
                    people_variation_1
                </div>
                <figure class="work-image">
                    <a href="images/people_1.png">
                        <img src="images/people_1.png"></img>
                    </a>
                </figure>
                <div class="work-source">
                    <a href="codes/rocks_variation_1.pde">
                        See the code
                    </a>
                </div>
            </div>
        </div>

        <div id="works-container">
            <div class="work-container">
                <div class="work-title">
                    people_variation_2
                </div>
                <figure class="work-image">
                    <a href="images/people_2.png">
                        <img src="images/people_2.png"></img>
                    </a>
                </figure>
                <div class="work-source">
                    <a href="codes/rocks_variation_1.pde">
                        See the code
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
