{{ partial "portfolio_head" . }}
<body>
    <div class="columns works-container">

        <div class="column work">
            <div class="work-title">
                challenge_b_dynamic
            </div>
            <canvas 
                 data-processing-sources="codes/experiment_2.pde"
                 class="work-image">
            </canvas>
            <div class="work-source">
                <a href="codes/experiment_2.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                people_variation
            </div>
            <canvas 
                 data-processing-sources="codes/rocks_variation_1.pde"
                 class="work-image">
            </canvas>
            <div class="work-source">
                <a href="codes/rocks_variation_1.pde">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                algorithmic_portrait
            </div>
            <canvas 
                 data-processing-sources="codes/self_portrait.pde"
                 class="work-image">
            </canvas>
            <div class="work-source">
                <a href="codes/self_portrait.pde">
                    See the code
                </a>
            </div>
        </div>
    </div>

    <div class="columns works-container">
        <div class="column work">
            <div class="work-title">
                great_language_war
            </div>
            <figure class="work-image">
                <a href="https://seita-uc.github.io/great-language-war/">
                    <img src="images/great-language-war.gif"></img>
                </a>
                <a href="https://seita-uc.github.io/great-language-war/">
                    <figcaption class="work-image-hover-mask">
                        <p>Play Game</p>
                    </figcaption>
                </a>
            </figure>
            <div class="work-source">
                <a href="https://github.com/seita-uc/great-language-war">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                space_war
            </div>
            <figure class="work-image">
                <a href="space-war">
                    <img src="images/space_war.gif"></img>
                </a>
                <a href="space-war">
                    <figcaption class="work-image-hover-mask">
                        <p>Play Game</p>
                    </figcaption>
                </a>
            </figure>
            <div class="work-source">
                <a href="https://github.com/seita-uc/seita-blog/blob/master/content/portfolio/space-war/codes/space_war.pde">
                    See the code
                </a>
            </div>
        </div>
    </div>

    <div class="columns works-container">
        <div class="column work">
            <div class="work-title">
               heartbeat_of_languages
            </div>
            <figure class="work-image">
                <a href="http://www.themas.tokyo/">
                    <img src="images/heartbeat_of_languages.gif"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="https://github.com/seita-uc/THEMAS">
                    See the code
                </a>
            </div>
        </div>

        <div class="column work">
            <div class="work-title">
                threads_of_knowledge
            </div>
            <figure class="work-image">
                <a href="https://seita-uc.github.io/kindle-scraper/">
                    <img src="images/threads.gif"></img>
                </a>
            </figure>
            <div class="work-source">
                <a href="https://github.com/seita-uc/kindle-scraper">
                    See the code
                </a>
            </div>
        </div>
    </div>
</body>
</html>
