html,body { 
    /*height:100%;*/
    width:100%;
}
img {
    width: 100%;
    vertical-align: middle;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
a {
    color: white;
}
canvas {
    width: 100%;
    vertical-align: middle;
}
.works-container {
    margin: 2.5rem;
    /*margin-left: 2.5%;*/
    /*margin-bottom: 5%;*/
    /*width: 95%;*/
    /*height: auto;*/
    /*display: -webkit-flex; [> Safari <]*/
    /*display: flex;*/
    -webkit-justify-content: space-between; [> Safari <]
    justify-content:         space-between;
    /*text-align: center;*/
}
.work {
    /*width: 30%;*/
    /*height: auto;*/
    padding: 0px 0px !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
.work:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.work-image {
    width: 100%;
    margin: 0px 0px;
}
.work-title {
    background-color: white;
    color: black;
    font-size: 15px;
    border-style: outset;
    border-width: 5px;
}
.work-source {
    background-color: black;
    text-align: center;
    padding: 2.5px 0px;
}
.work-source a {
    text-decoration: none;
}
#dummy {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
