html, body { 
    height: 100%;
    width: 100%;
}
img {
    width: 100%;
    vertical-align: middle;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
a {
    color: white;
}
canvas {
    width: 100%;
    vertical-align: middle;
}
.works-container {
    margin: 2.5rem !important;
}
.work {
    /*width: 30%;*/
    margin: 0rem 1.5rem;
    height: auto;
    padding: 0px 0px !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
@media screen and (max-width: 769px) {
    .work {
        margin: 1.5rem 1.5rem;
    }
    .works-container {
        margin: 0rem 2.5rem;
    }
}
.work:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.work-image {
    width: 100%;
    margin: 0px 0px;
    display: block;
    position: relative;
}
.work-image-hover-mask {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    color: #fff;
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-image:hover .work-image-hover-mask {
    opacity: 1;
    transition: all 0.6s ease;
}
.work-image-hover-mask p {
    font-size: 35px;
}
.work-title {
    background-color: white;
    color: black;
    font-size: 15px;
    border-style: outset;
    border-width: 5px;
    text-align: center;
}
.work-source {
    background-color: black;
    text-align: center;
    padding: 2.5px 0px;
}
.work-source a {
    text-decoration: none;
}
#dummy {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
