<aside id="profile">
  <div id="profile-inner" class="inner profile-inner">
    <div class="base-info profile-block">
      <!--<img id="avatar" src="{{ .Site.Params.avatar | absURL }}">-->
      <div id="avatar-placeholder">
          <canvas
              data-processing-sources="{{ "portfolio/codes/self_portrait.pde" | absURL }}"
              class="work-image">
          </canvas>
      </div>
      {{ with .Site.Params.author}}<h2 id="name">{{ . }}</h2>{{ end }}
      {{ with .Site.Params.bio }}<h3 id="title">{{ . }}</h3>{{ end }}
      {{ with .Site.Params.location }}<span id="location"><i class="fa fa-map-marker"></i>{{ . }}</span>{{ end }}
      {{ with .Site.Params.profile.follow_button }}
          <a id="follow" href="{{ . }}">
            Follow
          </a>
      {{ end }}
    </div>
    <div class="article-info profile-block">
      <div class="article-info-block">
        {{ len (where .Site.RegularPages "Type" "post") }}
        <span>POSTS</span>
      </div>
      <div class="article-info-block">
        {{ if isset .Site.Taxonomies "tags" }}
          {{ len .Site.Taxonomies.tags }}
        {{ else }}
          0
        {{ end }}
        <span>
          TAGS
        </span>
      </div>
    </div>
    <div class="profile-block social-links">
      <table>
        <tr>
          {{ partial "social" . }}
          <td><a href="{{ .Site.RSSLink }}" target="_blank" title="RSS"><i class="fa fa-rss"></i></a></td>
          <td class="hatena"><a href="http://b.hatena.ne.jp/entry/s/seita.tokyo/" target="_blank" title="Hatena"><i class="fa fa-hatena"></i></a></td>
        </tr>
      </table>
    </div>
  </div>
</aside>
