<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
        <div class="article-banner" href="{{ .Permalink }}" itemprop="url">
            <a href="{{ .Permalink }}" itemprop="url">
                {{ if .Params.narrowBanner }}
                <div class="article-banner-holder">
                    <img src="{{ .Params.banner | absURL }}" class="article-banner-image-narrow">
                </div>
                {{ else }}
                <img src="{{ .Params.banner | absURL }}" class="article-banner-image">
                {{ end }}
            </a>
        </div>
        {{ end }}

        {{ partial "article_header" . }}
        <div class="article-entry" itemprop="articleBody">
            {{ if .Params.showTOC }}
            <div id="table-of-contents" itemprop="tableOfContents">
                {{ partial "toc" . }}
            </div>
            {{ end }}

            {{ .Content }}
        </div>


        {{ partial "article_footer" . }}
    </div>

    {{ partial "prev_next_post" . }}
</article>

{{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
<section id="comments">
    <div id="disqus_thread">
        {{ template "_internal/disqus.html" . }}
    </div>
</section>
{{ end }}
