{{ if .IsPage }}
  {{ with .Params.images }}
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image:src" content="{{ index . 0 | absURL }}"/>
  {{ end }}
  {{ else }}
  {{ with .Site.Params.Images }}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image:src" content="{{ index . 0 | absURL }}"/>
  {{ end }}
  <!-- Twitter Card data -->
  <meta name="twitter:title" content="{{ .Title }}"/>
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>
    <meta name="twitter:site" content="{{ .Site.BaseURL }}"/>
  {{ with .Site.Social.twitter_domain }}
    <meta name="twitter:domain" content="{{ . }}"/>
  {{ end }}
  {{ range .Site.Authors }}
    {{ with .twitter }}
      <meta name="twitter:creator" content="@{{ . }}"/>
    {{ end }}
  {{ end }}
{{ end }}

