{{ $url := .Get "url" }}
{{ $json := getJSON .Site.Baseurl "ogp?url=" $url }}
{{ $siteName := $json.Title }}
{{ $ogp := $json.Ogp }}

{{ $title := index $ogp.Ogtitle 0 }}
{{ $description := index $ogp.Ogdescription 0 }}
{{ $image := index $ogp.Og:image 0 }}
{{ $urlInfo := urls.Parse $url }}
{{ $host := path.Join $url.Scheme $url.Host }}
{{ $favicon := path.Join "https://www.google.com/s2/favicons?domain=" $url.Host }}


<div class="body-iframe page-embed hatena-web-card">
    <div class="embed-wrapper">
        <div class="embed-wrapper-inner">
            <div class="embed-content with-thumb">
                <div class="thumb-wrapper">
                    <a href="{{ $url }}" target="_blank">
                        <img src="{{ $image }}" class="thumb">
                    </a>
                </div>
                <div class="entry-body">
                    <h2 class="entry-title">
                        <a href="{{ $url }}" target="_blank">
                            {{ $title }}
                        </a>
                    </h2>
                    <div class="entry-content">
                            {{ $description }}
                    </div>
                </div>
            </div>
            <div class="embed-footer">
                <a href="{{ $host }}"target="_blank">
                    <img src="{{ $favicon }}" alt="" title="{{ $title }}" class="favicon">
                    {{ $host }}
                </a>
            </div>
        </div>
    </div>
</div>

